<configuration>
    <appSettings>
        <add key="ApplicationName" value="Kenko 1st Agri Business"/>
        <add key="LanguageEnglish" value="en"/>
        <add key="LanguageSinhalese" value="si"/>
        <add key="LanguageTamil" value="ta"/>
    </appSettings>
    <smsSettings>
        <add key="SMS_URL" value="https://sms.textware.lk:5001/sms/send_sms.php"/>
        <add key="SMS_USERNAME" value="mobios_alert"/>
        <add key="SMS_SRC" value="MobiOsOTP"/>
        <add key="SMS_PASSWORD" value="Mo321Ar"/>
        <add key="SMS_ACTION" value="bulk_put"/>
        <add key="SMS_CAMP" value="bulk"/>
    </smsSettings>
    <databaseSettings>
        <live>
            <add key="DatabaseUrl" value="jdbc:mysql://localhost:3306/kenko_first"/>
            <add key="DatabaseUserName" value="root"/>
            <add key="DatabasePassword" value="Hwb5W3MrkPcmL4xV"/>
            <add key="DriverName" value="com.mysql.jdbc.Driver"/>
        </live>
        <development>
            <add key="DatabaseUrl" value="jdbc:mysql://localhost:3306/kenko_first"/>
            <add key="DatabaseUserName" value="root"/>
            <add key="LocalDatabasePassword" value="kasuni123*"/>
            <add key="DriverName" value="com.mysql.jdbc.Driver"/>
        </development>
    </databaseSettings>
    <folderSettings>
        <localPath>
            <add key="DatabaseUrl" value="jdbc:mysql://localhost:3306/kenko_first"/>
        </localPath>
        <serverPath>
            <add key="DatabaseUrl" value="jdbc:mysql://localhost:3306/kenko_first"/>
        </serverPath>
    </folderSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.8"/>
        <pages controlRenderingCompatibilityVersion="4.0"/>
        <httpRuntime targetFramework="4.7" requestValidationMode="2.0"/>
    </system.web>
    <!--<system.serviceModel>-->
        <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true"-->
                                   <!--multipleSiteBindingsEnabled="true"/>-->
        <!--<bindings>-->
            <!--<webHttpBinding>-->
                <!--<binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true"/>-->
            <!--</webHttpBinding>-->
        <!--</bindings>-->
    <!--</system.serviceModel>-->

    <!--<system.webServer>-->
        <!--<validation validateIntegratedModeConfiguration="false"/>-->
        <!--<modules runAllManagedModulesForAllRequests="true">-->
            <!--<remove name="WebDAVModule"/>-->
        <!--</modules>-->
        <!--<httpProtocol>-->
            <!--<customHeaders>-->
                <!--<add name="Access-Control-Allow-Origin" value="*"/>-->
                <!--<add name="Access-Control-Allow-Headers" value="Content-Type,GasAuthHeader"/>-->
                <!--<add name="GasAuthHeader" value=""/>-->
                <!--<add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE"/>-->
            <!--</customHeaders>-->
        <!--</httpProtocol>-->
        <!--<handlers>-->
            <!--<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>-->
            <!--<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>-->
            <!--<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>-->
            <!--<remove name="OPTIONSVerbHandler"/>-->
            <!--<remove name="TRACEVerbHandler"/>-->
            <!--<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"-->
                 <!--path="*."-->
                 <!--verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS"-->
                 <!--modules="IsapiModule"-->
                 <!--scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll"-->
                 <!--preCondition="classicMode,runtimeVersionv4.0,bitness32"-->
                 <!--responseBufferLimit="0"/>-->
            <!--<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"-->
                 <!--path="*."-->
                 <!--verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS"-->
                 <!--modules="IsapiModule"-->
                 <!--scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll"-->
                 <!--preCondition="classicMode,runtimeVersionv4.0,bitness64"-->
                 <!--responseBufferLimit="0"/>-->
            <!--<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*."-->
                 <!--verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS"-->
                 <!--type="System.Web.Handlers.TransferRequestHandler"-->
                 <!--preCondition="integratedMode,runtimeVersionv4.0"/>-->
        <!--</handlers>-->
    <!--</system.webServer>-->
</configuration>